*{
  box-sizing: border-box;
}
head{
  display: block;
}
body{
  cursor: url(foo6.gif), auto;
}
.background{
  z-index: -1;
  transform: scale(1.5);
}
h1{
  opacity:40%;
  color:rgb(96, 0, 125);
  font-size: 16px;
  transition: all 0.5s ease;
  text-align: center;
  font-family: 'Space Mono', monospace;
}
h1:hover{
  opacity:100%;
  color: rgb(36, 0, 180);
}

.container{
  display: inline-block;
  position: fixed;
  bottom: 100px;
  right: 200px;
  width: 180px;
  border: 3px dotted rgb(96, 0, 125, 0.2);
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
  opacity:85%;
  background: rgb(248, 246, 255, 0.10);
  /* transform: translate(-50%,-50%); */
  /* z-index: -1; */
}
.container:hover{
  border: 3px dotted rgb(36, 0, 180, 0.1);
  opacity:100%;
}
.newpage{
  transform: scale(2.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:9%;
}

}
.newpage:hover{
  transform: scale(3);
  margin-top: 100px;
  margin-bottom:100px;

}
