*{
  box-sizing: border-box;
}
.background{
  z-index: -1;
  transform: scale(1.5);
}
h1{
  opacity:20%;
  color:rgb(96, 0, 125);
  transition: all 0.5s ease;
}
h1:hover{
  opacity:100%;
  color: rgb(36, 0, 180);
}

.container
{
  display: inline-block;
  background: rgb(255, 255, 255);
  position: fixed;
  bottom: 200px;
  right: 100px;
  width: 300px;
  border: 1.5px solid rgb(194, 193, 255);
  padding: 30px;
  /* transform: translate(-50%,-50%); */
  /* z-index: -1; */
}
.newpage{
  transform: scale(2);
}
.newpage:hover{
  transform: scale(3);
}
