*{
  box-sizing: border-box;
}
.background{
  z-index: -1;
  transform: scale(1.2);
}
h1{
  opacity:20%;
  color:rgb(96, 0, 125);
  font-size: 20px;
  transition: all 0.5s ease;
  text-align: center;
}
h1:hover{
  opacity:100%;
  color: rgb(36, 0, 180);
}

.container
{
  display: inline-block;
  position: fixed;
  bottom: 100px;
  right: 300px;
  width: 200px;
  border: 3px dotted rgb(96, 0, 125, 0.2);
  padding: 10px;
  /* transform: translate(-50%,-50%); */
  /* z-index: -1; */
}
.newpage{
  transform: scale(2);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:9%;
}

}
.newpage:hover{
  display:inline;
  transform: scale(3);
}
