@keyframes Orbit {
  0% {
    left: 35em;
    z-index: 3;
  }

  50% {
    left: -15em;
    z-index: 2;
  }

  75% {
    z-index: 1;
  }

  100% {
    left: 35em;
    z-index: 0;
  }
}

body {
  animation: colorchange 120s linear 1s infinite;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 120s linear 0s infinite alternate;
  /* Chrome and Safari */
  margin-top: 6rem;
  margin-left: calc(60rem * 1882700 * var(--scale));
  position: relative;
}

@keyframes colorchange {
  0% {
    background: rgb(176, 164, 213, 0.55);
    /* color: cyan; */
  }

  33% {
    background: rgb(204, 158, 217, 0.55);
    /* color: magenta; */
  }

  66% {
    background: rgb(161, 181, 210, 0.55);
    /* color: yellow; */
  }

  100% {
    background: rgb(188, 167, 214, 0.55);
    /* color: cyan; */
  }
}

@-webkit-keyframes colorchange {

  /* Safari and Chrome - necessary duplicate */
  0% {
    background: rgb(176, 164, 213, 0.55);
    /* color: cyan; */
  }

  33% {
    background: rgb(204, 158, 217, 0.55);
    /* color: magenta; */
  }

  66% {
    background: rgb(161, 181, 210, 0.55);
    /* color: yellow; */
  }

  100% {
    background: rgb(188, 167, 214, 0.55);
    /* color: cyan; */
  }
}

html {
  --speed: calc(1 / 2);
  --scale: calc(1 / 4000000);
  /* background: rgb(217, 196, 255); */
  /* background: black; */
}

div {
  display: inline;
  position: relative;
}

div>span {
  font-size: 1rem;
}

.planet {
  position: absolute;
  transform: scale(0.90);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.moon {
  transform: scale(0.45);
  position: absolute;
  top: 6rem;
  animation: Orbit linear infinite;
  animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

#io {
  animation-duration: calc(15.0s * 1.769 * var(--speed));
  /* font-size: calc(1rem * 421700 * var(--scale)); */
}

#europa {
  animation-duration: calc(20.0s * 3.551 * var(--speed));
  /* font-size: calc(1rem * 670900 * var(--scale)); */
}

#ganymede {
  animation-duration: calc(5.0s * 7.1545 * var(--speed));
  /* font-size: calc(1rem * 1070400 * var(--scale)); */
}

#callisto {
  animation-duration: calc(6.0s * 16.689 * var(--speed));
  /* font-size: calc(1rem * 1882700 * var(--scale)); */
}

hr {
  margin-top: 2rem;
}

/*
Source for sinusoidal timing function:
https://gist.github.com/terkel/4377409
*/
